<div class="form-group cursed-details-section">
    <label>{{localize "simraki-cursed-items.Cursed"}}</label>

    <div class="form-fields">
        {{formInput cursedStageField value=source.flags.simraki-cursed-items.cursed
                    choices=cursedStages nullable=false blank=false localize=true }}
    </div>
</div>
